# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Coursera'
      'submenu': [
        {
          'label': 'Add Require Statement',
          'command': 'coursera:add-require-statement'
        }
      ]
    ]
  }
]
